.ftt-ads-block{min-width:300px}.ftt-card{word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,0.125);border-radius:0.25rem;max-width:90vw;-webkit-box-shadow:0 1px 3px 0 rgba(50,50,50,0.75);-moz-box-shadow:0 1px 3px 0 rgba(50,50,50,0.75);box-shadow:0 1px 3px 0 rgba(50,50,50,0.75)}.ftt-text-center{text-align:center}
