<template>
    <section class="d-flex flex-column">
        <div class="d-flex flex-column ftt-card p-2 mb-4">
            <h1 class="ftt-text-center">Привет!</h1>
            <h2 class="ftt-text-center">Добро пожаловать на быстром расписании БФ ПНИПУ!</h2>
            <h3 class="ftt-text-center">Здесь Вы можете найти расписание преподавателей, групп и аудиторий</h3>
        </div>

        <div class="d-flex flex-column ftt-card p-3 mb-4">
            <h2>Быстрое расписание БФ ПНИПУ</h2>
            <p>Чтобы получить расписание выберите нужное из списков</p>

            <select class="mb-2" @change="onSelectChange">
                <option disabled selected>Группы</option>
                <option v-for="item in lists.groups" :key="item.id" :value="`timetable/groups/${item.slug}`">{{ item.name }}</option>
            </select>

            <select class="mb-2" @change="onSelectChange">
                <option disabled selected>Преподаватели</option>
                <option v-for="item in lists.teachers" :key="item.id" :value="`timetable/teachers/${item.slug}`">{{ item.name }}</option>
            </select>

            <select class="mb-2" @change="onSelectChange">
                <option disabled selected>Аудитории</option>
                <option v-for="item in lists.classrooms" :key="item.id" :value="`timetable/classrooms/${item.slug}`">{{ item.name }}</option>
            </select>
        </div>

    </section>
</template>

<script>
import Axios from 'axios';

export default {
    name: "Page_Main",
    data() {
        return {
            lists: {
                groups: [],
                teachers: [],
                classrooms: []
            }
        };
    },
    mounted() {
        this.getLists();
    },

    methods: {
        getLists: function () {
            let that = this;
            Axios.get('https://fast-tt.ru/api/vue/get-list?list=groups')
                 .then(function (resp) { that.lists.groups = resp.data } );

            Axios.get('https://fast-tt.ru/api/vue/get-list?list=teachers')
                 .then(function (resp) { that.lists.teachers = resp.data } );

            Axios.get('https://fast-tt.ru/api/vue/get-list?list=classrooms')
                 .then(function (resp) {
                     that.lists.classrooms = Object.keys(resp.data).map((k) => resp.data[k])
                 });
        },

        onSelectChange: function (e) {
            this.$router.push(e.target.value);
            e.target.selectedIndex = 0;
        }
    }
}
</script>

<style scoped lang="sass">
    h1
        font-size: 4rem

    select
        padding: 0.5rem 1rem
        font-size: 1.2rem

        border: 1px solid rgba(0, 0, 0, 0.125)
        border-radius: 0.25rem
</style>