<template>
    <div class="d-flex justify-content-center align-items-center ">
        <div>
            <p class="e404">404</p>
            <p class="ftt-text-center"><a :href="`https://fast-tt.ru/${$route.params.page}`">Может быть здесь что-то есть?</a></p>
        </div>
    </div>
</template>

<script>
export default {
    name: "Error404"
}
</script>

<style scoped lang="sass">
    .e404
        font-size: 10rem
        font-weight: 700
</style>