<template>
    <footer class="p-2">
        <div class="container">
            Создан TAZAQ 2019-2020
        </div>
    </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped lang="sass">
    footer
        background-color: #6d6d6d
        color: white
</style>