<template>
    <header class="d-flex p-2">

        <nav class="container-fluid d-none d-lg-flex justify-content-between">
            <span class="header__logo">Fast-tt.ru (TEST)</span>

            <div class="header__urls d-flex align-items-center">
                <router-link
                    class="pl-3 header__url"
                    v-for="(link, index) in links"
                    :to="`/${project_home_page}/${link.url}`"
                    :key="index"

                >{{ link.text }}</router-link>
            </div>
        </nav>

        <details class="container-fluid d-flex d-lg-none">
            <summary class="header__logo ftt-text-center">Fast-tt.ru (TEST)</summary>
            <div class="header__urls d-flex flex-column mt-2">
                <router-link
                    class="pl-3 header__url mb-2"
                    v-for="(link, index) in links"
                    :to="`/${project_home_page}/${link.url}`"
                    :key="index"

                >{{ link.text }}</router-link>
            </div>
        </details>

    </header>
</template>



<script>
import Axios from 'axios';


let project_home_page = 'fast-tt-vue';
export default {
    name: "Header",
    data() {
        return {
            'links': [],
            project_home_page: project_home_page
        };
    },
    mounted() {
        this.getLinks();
    },

    methods: {
        getLinks: function () {
            let that = this;
            Axios
                .get('https://fast-tt.ru/api/vue/get-urls')
                .then(function (response) {
                    that.links = response.data
                });
        }
    }
}
</script>

<style scoped lang="sass">

    header
        background-color: #6d6d6d
        & > *
            color: white
            text-transform: uppercase

    .header
        &__logo
            font-size: 1.5rem
            font-weight: bold
        &__url
            color: white

</style>