<template>
    <main class="d-flex flex-column flex-lg-row flex-lg-wrap align-items-center align-items-lg-start my-4">
        <Aside_left class="ftt-ads-block order-1 order-xl-0"></Aside_left>
        <Page_Main class="content order-0 order-xl-1"></Page_Main>
        <Aside_right class="ftt-ads-block order-2"></Aside_right>
    </main>
</template>


<script>
import Aside_right from "@/components/Blocks/Asides/Aside_right";
import Page_Main from "@/components/Blocks/Main/Page_Main";
import Aside_left from "@/components/Blocks/Asides/Aside_left";

export default {
    name: "Content",
    components: {
        Aside_left,
        Page_Main,
        Aside_right
    },
}
</script>


<style scoped lang="sass">
    .content
        max-width: 768px

    main
        @media screen and (min-width: 1300px)
            justify-content: space-between


</style>