<template>
    <div class="container d-flex flex-column align-items-center my-4">
        <form @submit.prevent="onPeriodSubmit(0)">
            <label>
                <span>С</span>
                <input type="date" class="p-1 mr-3" v-model="period.from">
            </label>
            <label>
                <span>По</span>
                <input type="date" class="p-1" v-model="period.to">
            </label>

            <button type="submit" class="p-1 ml-3">Выбрать</button>
        </form>

        <div class="timetable-wrapper">
            <div class="lds-dual-ring" :class="{'d-none': !isTimetableLoad}"></div>

            <div :class="{'d-none': isTimetableLoad}">
                <h1 class="ftt-text-center">{{ this.name }}</h1>

                <div class="paginator">
                    <div class="pagination d-flex flex-wrap">
                        <button
                            class="m-1 p-1"
                            :disabled="i - 1 === page"
                            :hidden="i === paginator.last"
                            type="button"
                            v-for="i in paginator.last"
                            :key="i - 1"
                            @click="onPeriodSubmit(i - 1)"
                        >{{ paginator.all_weeks[i - 1] }} - {{ paginator.all_weeks[i]}}</button>
                    </div>
                </div>


                <div v-if="timetable.length" class="timetable">
                    <div v-for="(week, week_i) in timetable" :key="week_i">
                        <div class="d-flex flex-column"
                             v-for="(lessons, key) in week"
                             :key="key"
                        >
                            <h2 class="mt-5 ftt-text-center">{{ key }}</h2>
                            <div class="timetable-day d-flex justify-content-center flex-wrap">

                                <div
                                    class="ftt-card p-2 m-2 d-flex flex-column max-width400"
                                    v-for="(lesson, index) in lessons"
                                    :key="index"
                                >
                                    <div>
                                        <p>Аудитория: <em>{{ lesson.classroom }}</em></p>
                                        <p>Время: <em>{{ lesson.start + ' - ' + lesson.finish }}</em></p>

                                        <p v-if="item === 'groups'">
                                            Преподаватель:
                                            <router-link :to="`/timetable/teachers/${lesson.teacher.slug}`">
                                                {{ lesson.teacher.name }}
                                            </router-link>
                                        </p>
                                        <p v-else>
                                            Группа:
                                            <router-link :to="`/timetable/groups/${lesson.group.slug}`">
                                                {{ lesson.group.name }}
                                            </router-link>
                                        </p>

                                    </div>
                                    <hr>
                                    <div>{{ lesson.l_num }} - {{ lesson.name }}</div>
                                </div>

                            </div>
                        </div>

                        <!-- end week -->
                        <hr class="my-5">

                    </div>
                </div>
                <p v-else>Нет расписания за данный период!</p>

            </div>
        </div>

    </div>
</template>

<script>

import {mapGetters, mapActions} from 'vuex';
import Axios from 'axios';

export default {

    name: "PageTimetable",
    data() {
        return {
            period: {
                'from': new Date().toISOString().slice(0, 10),
                'to': new Date(Date.now() + 12096e5).toISOString().slice(0, 10),
            },
            page: 0,
            item: '',
            slug: '',

            paginator: [],
            name: '',
            timetable: [],

            isTimetableLoad: true
        };
    },
    watch: {
        $route() {
            this.onLoad();
        }
    },
    mounted() {
        this.onLoad();
    },
    computed: {
        ...mapGetters([
            'sgGetTimetableList'
        ]),
    },
    methods: {
        ...mapActions([
            "saChangeTimetableList"
        ]),

        onLoad: function() {
            // show loader
            this.isTimetableLoad = true;


            this.item = this.$route.params.item;
            this.slug = this.$route.params.slug;

            this.onPeriodSubmit(0);
        },

        onPeriodSubmit: function (page) {
            // show loader
            this.isTimetableLoad = true;

            let that = this;
            that.page = page

            Axios.get(
            `https://fast-tt.ru/api/vue/get-timetable?page=${page}&from=${this.period.from}&to=${this.period.to}&item=${this.item}&slug=${this.slug}`
            ).then(function (resp) {
                that.saChangeTimetableList(resp.data);

                that.paginator = resp.data.paginator;
                that.name = resp.data.name;
                that.timetable = resp.data.timetable;

                // hide loader
                that.isTimetableLoad = false;
            });

        }
    }
}
</script>

<style scoped lang="sass">
.max-width400
    width: 100%
    @media screen and (min-width: 900px)
        max-width: 400px


.lds-dual-ring
    display: inline-block
    width: 80px
    height: 80px

    &:after
        content: ""
        display: block
        width: 64px
        height: 64px
        margin: 8px
        border-radius: 50%
        border: 6px solid #6d6d6d
        border-color: #6d6d6d transparent #6d6d6d transparent
        animation: lds-dual-ring 1.2s linear infinite

@keyframes lds-dual-ring
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

</style>