<template>
    <div class="d-flex justify-content-center my-4">
        <div class="div768 ftt-card p-4">
            <h1 class="ftt-text-center">Быстрое расписание БФ ПНИПУ</h1>
            <h2>О нас</h2>
            <p>
                <a href="https://fast-tt.ru/">Быстрое расписание БФ ПНИПУ</a> - самостоятельный проект, а также зеркало официального расписания, однако мы
                имеем ряд достоинств:
            </p>
            <ol class="pl-5">
                <li>Адаптивность - сайт использует адаптивную вёрстку, поэтому сайтом удобно пользоваться на любых
                    устройствах, как на обычных компьютерах, так и на телефонах, и на планшетах
                </li>
                <li>Аудитории - у нас есть возможность просмотра расписания в аудиториях</li>
                <li>Внешний вид - используя современные технологии, мы получаем такой-же современное оформление</li>
                <li>Доступность и независимость - мы используем свои сервера для быстрого расписания, поэтому когда
                    официальное не работает, мы попрежнему в сети
                </li>
                <li>Скорость работы - мы используем кэш для расписания, поэтому оно доступно практически моментально
                </li>
            </ol>
            <h2>Не просто сайт...</h2>
            <p>...мы сервис! Сайт это лишь часть. Сервис состоит из:</p>
            <ol class="pl-5">
                <li><a href="https://vk.com/raspisaniebfpnipu">Сообщество в Вконтакте</a></li>
                <li><a href="https://t.me/fast_tt_ru">Канал в Telegram</a></li>
                <li><a href="https://fast-tt.ru/">Сайт быстрого расписания</a> *** Вы находитесь тут ***</li>
                <li><a href="https://vk.com/raspisaniebfpnipu">Бот расписания Вконтакте (сообщения сообщества)</a></li>
                <li><a href="https://t.me/bfpnipu_bot">Бот расписания Telegram</a></li>
            </ol>
            <h2>Как узнать расписание?</h2>
            <p>Тогда нажмите на одну из кнопок: <a href="/groups">Группы</a>, <a href="/teachers">Преподаватели</a> или
                <a href="/classrooms">Аудитории</a>!</p>
            <h2>Хочешь помочь сайту?</h2>
            <p>Данный сервис создан на добровольных началах. Ежегодно требуется 1500 руб.для оплаты хостинга и домена
                для сайта (место где он расположен и его адрес) и 72$ для оплаты сервера, в котором происходит получение
                и хранение расписания. </p>
            <p>Вы можете помочь сервису следующими методами:</p>
            <ol class="pl-5">
                <li><a href="https://money.yandex.ru/to/41001800927851">Яндекс.Деньги</a></li>
                <li><a href="https://vk.com/vkpay#action=transfer-to-user&user_id=95482342">VK Pay</a></li>
            </ol>
            <h4>Связаться с нами</h4>
            <ol class="pl-5">
                <li><a href="https://vk.com/tazaq">Разработчик</a></li>
                <li><a href="mailto:tazaqsp@mail.ru">tazaqsp@mail.ru</a> В теме укажите "Быстрое расписание БФ ПНИПУ"
                </li>
            </ol>
        </div>
    </div>
</template>

<script>
export default {
    name: "Donations"
}
</script>

<style scoped lang="sass">
.div768
    max-width: 768px
    width: 100%
</style>