<template>
  <body id="app" class="d-flex flex-column">
      <Header></Header>

      <keep-alive>
          <router-view class="flex-grow-1"></router-view>
      </keep-alive>

      <Footer></Footer>
  </body>
</template>

<script>

import Header from "@/components/Blocks/Header";
import Footer from "@/components/Blocks/Footer";



export default {
  name: 'App',
  components: {
      Header,
      Footer
  }
}
</script>


<style lang="sass">
    @import "../public/assets/css/bootstrap-reboot.min.css"
    @import "../public/assets/css/bootstrap-grid.min.css"
    @import "../public/assets/css/styles.css"

    *,
    *:after,
    *:before
        padding: 0
        margin: 0
        box-sizing: border-box
        font-weight: 300


    body
        width: 100%
        max-width: 100vw
        overflow-x: hidden
        min-height: 100vh

</style>