
.ftt
  &-ads-block
    min-width: 300px


  &-card
    word-wrap: break-word
    background-color: #fff
    background-clip: border-box
    border: 1px solid rgba(0, 0, 0, 0.125)
    border-radius: 0.25rem

    max-width: 90vw

    $x_offset: 0
    $y_offset: 1px
    $blur_radius: 3px
    $stretch: 0
    $shadow_color: rgba(50, 50, 50, 0.75)
    -webkit-box-shadow: $x_offset $y_offset $blur_radius $stretch $shadow_color
    -moz-box-shadow:    $x_offset $y_offset $blur_radius $stretch $shadow_color
    box-shadow:         $x_offset $y_offset $blur_radius $stretch $shadow_color


  &-text-center
    text-align: center

